---
layout: 'base.njk'
---

<article class="main-article">
  <div class="container container--narrow flow">


    <figure class="main-article__figure">
      <img src="{{ image }}" alt="{{ imgAlt }}" srcset="{{ post.data.image | replace('upload/', 'upload/w_600/') }} 600w, {{ post.data.image | replace('upload/', 'upload/w_300/')}} 300w" sizes="(max-width: 600px) 100vw 300px" width="300" height="200">
      <figcaption>
        {{ imgAlt }}
      </figcaption>
    </figure>
    <h1 class="article-title">
      {{ title }}
    </h1>

    {{ content | safe }}
  </div>
</article>