---
title: "Front Page"
layout: 'base.njk'
---

<section class="hero">
  <div class="container flow">
    <div class="hero__content flow">
      <h1 class="section-title">Welcome to Parallel Souls</h1>
      <br>
      <p>The objective of this orginization is to rescue animals from negative stuatuions such as abuse, neglet and abandonment and help them to find a lovely family.</p>
      <br>
      <p>During the stay in this organization, the future pets have access to medical care and shelter. Contact us to adopt, or help to this organization.</p>
      <br>
      <div class="flex-group">
        <a href="#featured-articles" class="btn btn--primary">Featured Pets</a>
        <a href="./form" class="btn btn--neutral">Join Us</a>
      </div>
    </div>
    <div>
      <img src="https://res.cloudinary.com/dvoigkose/image/upload/v1733507331/pets-best-pet-insurance-1200_ibaua0.png" alt="Home Image" class="hero__image">
    </div>
  </div>
</section>

<section id="featured-articles" class="featured-articles">
  <div class="container flow">
    <h2 class="section-title text-center ">Featured Pets</h2>
    <ul role="list" class="articles__list flow">
      {%- for post in collections.featured | reverse -%}
      {% include 'article-snippet.njk' %}
      {%- endfor -%}
    </ul>
    <a href="./portfolio" class="btn btn--primary">Link to Showcase</a>
  </div>
</section>