---
title: "Portfolio Page"
layout: 'base.njk'
---

<div class="section container">
  <h1 class="section-title">Pet Showcase</h1>
  <p> Here, you can see a small list of this future family members </p>
  <ul role="list" class="articles__list flow">
    {%- for post in collections.post | reverse -%}
    {% include 'article-snippet.njk' %}
    {%- endfor -%}
  </ul>
</div>